// Colors

$shibui-base-text-color:    #8487af !default;
$shibui-heading-text-color: #fff    !default;
$shibui-link-text-color:    #9782ff !default;

// Typography

$base-font-size:       13px  !default;
$base-line-height:     18px  !default;
$relative-font-sizing: false !default;