// Compass

$default-border-radius: 3px;

// Colors

$shibui-base-text-color:    #8487af !default;
// $shibui-base-text-color:    #888 !default;
$shibui-heading-text-color: #fff    !default;
$shibui-link-text-color:    #9782ff !default;

$shibui-content-background-color: #282936 !default;
// $shibui-content-background-color: #fff !default;

// Typography

$base-font-size:   13px  !default;
$base-line-height: 18px  !default;