%helvetica-font-stack {
  font-family: "helvetica neue", helvetica, arial, geneva, sans-serif;
}

%corbel-font-stack {
  font-family: "CorbelRegular", "helvetica neue", helvetica, arial, geneva, sans-serif;
}

%meslo-font-stack {
  font-family: "MesloRegular", monaco, monospace;
}
