%helvetica-font-stack {
  font-family: "helvetica neue", helvetica, arial, geneva, sans-serif;
}

%corbel-font-stack {
  font-family: "CorbelRegular", "helvetica neue", helvetica, arial, geneva, sans-serif;
}

%meslo-font-stack {
  font-family: "MesloRegular", monaco, monospace;
}

@mixin shibui-font-size($size) {
  @if $size == large {
    @include adjust-font-size-to($base-font-size * 1.3, $lines: 2);
  }
  @else if $size == xl {
    @include adjust-font-size-to($base-font-size * 1.5, $lines: 2);
  }
  @else if $size ==  xxl {
    @include adjust-font-size-to($base-font-size * 2, $lines: 2);
  }
  @else if $size ==  xxxl {
    @include adjust-font-size-to($base-font-size * 2.8, $lines: 3);
  }
}