%shibui-code-background {
  @include border-radius($default-border-radius);
  @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.02));
  background: darken($shibui-content-background-color, 6%);
  border: 1px solid darken($shibui-content-background-color, 8%);
}

%shibui-base-typography {
  @extend %helvetica-font-stack;
  color: $shibui-base-text-color;
  font-size: $base-font-size;
  line-height: $base-line-height;

  #{headings(all)} {
    @extend %corbel-font-stack;
    color: $shibui-heading-text-color;
  }

  a {
    &:link,
    &:visited {
      color: $shibui-link-text-color;
      text-decoration: none;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  strong, b {
    color: lighten($shibui-base-text-color, 10%);
    font-weight: bold;
  }

  em, i {
    color: lighten($shibui-base-text-color, 10%);
    font-style: italic;
  }

  code {
    @include adjust-font-size-to($base-font-size * 0.9);
    @extend %meslo-font-stack;
    @extend %shibui-code-background;
    color: lighten($shibui-base-text-color, 10%);
    padding: 0 0.2em;
  }

  abbr[title] {
    border-bottom: 1px dotted $shibui-base-text-color;
    color: lighten($shibui-base-text-color, 10%);
    cursor: help;
  }
}

%shibui-reading-typography {
  h1 {
    @extend %shibui-xxxl-font-size;
  }

  h2 {
    @extend %shibui-xxl-font-size;
  }

  h3 {
    @extend %shibui-xl-font-size;
  }

  h4 {
    @extend %shibui-l-font-size;
  }

  p, ul, ol, dl, pre, hr {
    @include trailer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    padding-left: 1.2em;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  dt {
    color: lighten($shibui-base-text-color, 10%);
    font-weight: bold;
  }

  pre {
    @extend %shibui-code-background;
    overflow: auto;
    padding: $base-line-height;

    code {
      @include border-radius(none);
      @include box-shadow(none);
      background: transparent;
      border: none;
      padding: 0;
    }
  }

  hr {
    @include box-shadow(0 0 0 1px rgba(255, 255, 255, 0.02), 0 0 0 1px #101015 inset);
    background: #17171e;
    border: 0;
    height: 3px;
  }
}

@mixin shibui-typography($nested: false) {
  @if $nested {
    @extend %shibui-base-typography;
    @extend %shibui-reading-typography;
  }
  @else {
    body {
      @extend %shibui-base-typography;
      @extend %shibui-reading-typography;
    }
  }
}