<!DOCTYPE html>
<meta charset="utf8">
<title>Shibui Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" type="text/css" href="/stylesheets/screen.css">

<div class="experimental-container">
  <h1>Typography</h1>

  <p>Shibui can pretty much style <a href="http://daringfireball.net/projects/markdown/">anything Markdown can render</a> and makes sure your page has a consistent line-height. You can learn about the markup by inspecting the elements on this page.</p>

  <h2>Inline Elements</h2>

  <p>You <a href="#">can link</a>, emphasize with the <strong>strong tag</strong> and the <em>em tag</em>, or wrap inline snippets of code with <code>the code tag</code>.</p>

  <p>Feel free to use <code>&lt;b&gt;</code> and <code>&lt;i&gt;</code> in HTML5, but their usage has changed a bit. <code>&lt;b&gt;</code> is meant to highlight words or phrases without conveying additional importance while <code>&lt;i&gt;</code> is mostly for voice, technical terms, etc.</p>

  <p>Even though Markdown doesn't support <abbr title="Abbreviations">abbr</abbr>, Shibui does. Abbreviations with a <code>title</code> attribute have a light dotted bottom border and a help cursor on hover.</p>

  <h2>Block-level Elements</h2>

  <p>Unlike multiple <code>&lt;br&gt;</code> tags, paragraphs are a great way to structure your copy (feel free to use a <i>single</i> <code>&lt;br&gt;</code> tag for line-breaks). You can also use other block-level tags to give meaning to your content:</p>

  <h3>Lists</h3>

  <ul>
    <li>Use an unordered list for unordered information</li>
    <li>
        Lists may be nested

        <ul>
          <li>Child lists can be of a different type</li>
        </ul>
    </li>
  </ul>

  <ol>
    <li>Use ordered lists for ordered information</li>
    <li>Read <a href="http://daringfireball.net/projects/markdown/syntax#list">more about Markdown lists</a></li>
    <li><a href="http://markdownr.com/">Give it a try</a></li>
  </ol>

  <dl>
    <dt>Definition List</dt>
    <dd>A list which consists of two parts: a term and a description.</dd>
  </dl>

  <h3>Code Blocks</h3>

<pre><code>def my_code_block
  var = "Display code snippets with code blocks"
  puts var
end</code></pre>

  <p>For <code>inline code</code> see <a href="#">inline elements</a>.</p>

  <hr>

  <p>Horizontal rules help separate blocks of content.</p>
</div>
